.backdrop {
    display: inline-block;
    background: rgba(42, 42, 42, 0.7);
    border-radius: 5px;
    border: 1px solid #444;
    padding: 5px 10px;
    color: #fff;
    line-height: 150%;
    font-size: small;
}

#menu {
    position: absolute;
    left: 10px;
    top: 10px;
}

.nowrap {
    white-space: nowrap;
}

html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    background: #000;
}
